.navbar{
    border:3px solid #ef14d2;
    border-radius: 5px;
    background-color:darkorange;
}
.navbar-brand{
    color:white;
    border-radius:6px;
    padding:0px 3px;
    font-size:28px;
    font-weight: bold;
    font-family: sans-serif;
}
.nav-link{
    color:white;
    font-size: 18px;
    font-family: sans-serif;
}
.navbar-toggler-icon{
    font-size: 25px;
    color:white;
}
.drop{
    margin-left:450px;
}
.sign-con{
    margin:100px 0px;
    border-radius: 10px;
    background:whitesmoke;
    padding:35px 0px;
}
.sigfield{
    width:350px;
}
.dashbars{
    display: flex;
    flex-direction: column;
    padding:25px 35px;
    row-gap:20px;
    height: 100vh;
    background:rgba(245, 245, 245, 0.842);
    align-items:start;
}
.dashlinks{
    color:black;
    text-decoration: none;
    cursor: pointer;
    font-size:18px;
    font-family: sans-serif;
}
.create-new{
    margin:30px;
}
.create-btn{
    align-items: center;
    justify-content: center;
    padding:30px;
    font-size:20px;
}
.create-proj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up-btn{
    color:white;
    background-color: #36da36;
    padding:5px 10px;
    border-radius:5px;
}
.can-btn{
    color:white;
    background-color:rgb(255, 94, 0);
    padding:5px 10px;
    border-radius:5px;
}
.profile-b{
    margin-top:25px;
    display: flex;
    justify-content: center;
    row-gap: 25px;
    flex-direction: column;
    align-items: center;
}

.row-w{
    max-width:100%;
}
.create-post-btn{
    color:white;
    width:350px;
    background:rgb(19, 234, 19);
}
.create-post-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post-img{
    width:350px;
    height:250px;
    border-radius:6px;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
.foottext{
    font-size: 18px;
    color:white;
}
.foot-comp{
    border:4px solid #df0bca;
    background-color:white;
}
.footlinks{
    color:white;
    text-decoration: none;
    font-size:15px;
    font-weight: 450;
}
.quick{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.footqf{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.follow{
    display: flex;
    column-gap: 20px;
}
.social-media{
    font-size: 25px;
    color:white;
}
.social-media:hover{
    color:#ff00c3;
}
.view-des{
    display:flex;
    flex-wrap: wrap;
    font-size:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-between;
    align-items: center;
}
.view-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.tasks{
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap:30px;
}
.project-details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:start;
}
.assig-task{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items:center;
    justify-content:space-between;
}
@media (max-width:950px){
    .task{
        column-gap: 10px;
    }
    .create-btn{
        padding:20px;
    }
    
    .view-img{
        width:250px;
        height:200px;
    }
    .view-des{
        font-size: 17px;
        margin-left:3px;
    }
    .search{
        margin-left: 0px;
    }
    .foottext{
        font-size:16px;
    }
    .sigfield{
        width:300px;
    }
    .drop{
        margin-left:0px;
    }
    .dashbars{
        height:fit-content;
    }
    
    .update-btn{
        width:300px;
    }
    .create-post-w{
        width:300px;
    }
    .create-cat{
        width:200px;
    }
    .create-h-pad{
        padding-left: 28px;
    }
    
    
}